<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="preferredSubsTeams" value="argenteam,thesubfactory,addic7ed,substeam,subtitulos.es" />
    <add key="knownTvShows" value="dexter,the big bang theory,the walking dead,true blood,fringe" />
  </appSettings>
</configuration>
